In [1]:
import pandas as pd
import numpy as np

In [2]:
header=pd.read_csv("CaliforniaHousing//cal_housing.domain",names=["columns"])

In [3]:
header["columns"]=header["columns"].apply(lambda x:x.split(":")[0])

In [4]:
l=list(header["columns"])

In [5]:
data=pd.read_csv("CaliforniaHousing//cal_housing.data",sep=",",names=l)

In [6]:
data.head()

,longitude,latitude,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0

In [9]:
data.to_csv("data.csv",encoding='utf-8',index=False)