In [334]:
import pandas as pd
import numpy as np

In [335]:
header=pd.read_csv("CaliforniaHousing//cal_housing.domain",names=["columns"])

In [336]:
header["columns"]=header["columns"].apply(lambda x:x.split(":")[0])

In [337]:
l=list(header["columns"])

In [338]:
data=pd.read_csv("CaliforniaHousing//cal_housing.data",sep=",",names=l)

In [339]:
data.head()

,longitude,latitude,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0

In [340]:
data.shape

(20640, 9)

In [341]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   longitude         20640 non-null  float64
 1   latitude          20640 non-null  float64
 2   housingMedianAge  20640 non-null  float64
 3   totalRooms        20640 non-null  float64
 4   totalBedrooms     20640 non-null  float64
 5   population        20640 non-null  float64
 6   households        20640 non-null  float64
 7   medianIncome      20640 non-null  float64
 8   medianHouseValue  20640 non-null  float64
dtypes: float64(9)
memory usage: 1.4 MB

In [342]:
data.describe()

,longitude,latitude,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,537.898014,1425.476744,499.539680,3.870671,206855.816909
std,2.003532,2.135952,12.585558,2181.615252,421.247906,1132.462122,382.329753,1.899822,115395.615874
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1447.750000,295.000000,787.000000,280.000000,2.563400,119600.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.534800,179700.000000
75%,-118.010000,37.710000,37.000000,3148.000000,647.000000,1725.000000,605.000000,4.743250,264725.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [343]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
longitude,20640.0,-119.569704,2.003532,-124.3500,-121.8000,-118.4900,-118.01000,-114.3100
latitude,20640.0,35.631861,2.135952,32.5400,33.9300,34.2600,37.71000,41.9500
housingMedianAge,20640.0,28.639486,12.585558,1.0000,18.0000,29.0000,37.00000,52.0000
totalRooms,20640.0,2635.763081,2181.615252,2.0000,1447.7500,2127.0000,3148.00000,39320.0000
totalBedrooms,20640.0,537.898014,421.247906,1.0000,295.0000,435.0000,647.00000,6445.0000
population,20640.0,1425.476744,1132.462122,3.0000,787.0000,1166.0000,1725.00000,35682.0000
households,20640.0,499.539680,382.329753,1.0000,280.0000,409.0000,605.00000,6082.0000
medianIncome,20640.0,3.870671,1.899822,0.4999,2.5634,3.5348,4.74325,15.0001
medianHouseValue,20640.0,206855.816909,115395.615874,14999.0000,119600.0000,179700.0000,264725.00000,500001.0000

In [344]:
#unique data
for i in data.columns:
    print(i,data[i].nunique())

longitude 844
latitude 862
housingMedianAge 52
totalRooms 5926
totalBedrooms 1928
population 3888
households 1815
medianIncome 12928
medianHouseValue 3842

In [345]:
X=data.drop('medianHouseValue',axis=1)
y=data['medianHouseValue']

In [346]:
from sklearn.model_selection import train_test_split

In [347]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [348]:
from sklearn.preprocessing import StandardScaler

In [349]:
sc_x=StandardScaler()
sc_y=StandardScaler()

In [350]:
X_train=sc_x.fit_transform(X_train)

In [351]:
y_train.shape

(14448,)

In [352]:
y_train=np.array(y_train).reshape(14448,1)

In [353]:
y_train.shape

(14448, 1)

In [354]:
y_train=sc_y.fit_transform(y_train)

In [355]:
y_test=np.array(y_test).reshape(6192,1)

In [356]:
y_test=sc_y.transform(y_test)

In [357]:
X_test=sc_x.transform(X_test)

In [358]:
from sklearn.tree import DecisionTreeRegressor

In [359]:
dtr=DecisionTreeRegressor(random_state=0)

In [360]:
dtr.fit(X_train,y_train)

DecisionTreeRegressor(random_state=0)

In [361]:
pred=dtr.predict(X_test)

In [362]:
pred.shape

(6192,)

In [363]:
y_test=y_test.flatten()

In [364]:
pred_real=zip(y_test,pred)

In [365]:
df=pd.DataFrame(pred_real,columns=["real","predicted"])

In [366]:
df.head()

       real  predicted
0  1.736621   2.552369
1  2.552369   2.552369
2 -0.727121  -0.639286
3  0.022524   0.436482
4  2.552369   2.552369

In [367]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
print(mean_absolute_error(y_test,pred))
print(mean_squared_error(y_test,pred))

0.3888999177875312
0.3824372414482682

In [368]:
#predicting new value
val=[-122.23,37.88,41.0000,880.0000,129.0000,322.0000,126.0000,8.3252]

In [369]:
val=np.array(val)

In [370]:
val=val.reshape(1,8)

In [371]:
val=pd.DataFrame(val,columns=data.columns[:8])

In [372]:
val.head()

,longitude,latitude,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252

In [373]:
val_new=sc_x.transform(val)

In [374]:
val_new

array([[-1.32473909,  1.04893849,  0.98340223, -0.79241812, -0.95551548,
        -0.97520404, -0.96375087,  2.36220719]])

In [375]:
p=dtr.predict(val_new)

In [376]:
sc_y.inverse_transform([p])

array([[452600.]])

### Multi Linear Regression Model

In [377]:
from sklearn.linear_model import LinearRegression

In [378]:
lr=LinearRegression()

In [379]:
lr.fit(X_train,y_train)

LinearRegression()

In [380]:
y_pred=lr.predict(X_test)

In [381]:
print(mean_absolute_error(y_test,y_pred))

0.4481004017498774

### Feature Engineering to the dataset and fitting it to the model

In [382]:
data['roomsPerHousehold']=data["totalRooms"]/data["households"]

In [383]:
data['populationPerHousehold']=data["population"]/data["households"]
data['bedroomsPerRoom']=data["totalBedrooms"]/data["totalRooms"]

In [384]:
data.head()

,longitude,latitude,housingMedianAge,totalRooms,totalBedrooms,population,households,medianIncome,medianHouseValue,roomsPerHousehold,populationPerHousehold,bedroomsPerRoom
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,6.984127,2.555556,0.146591
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,6.238137,2.109842,0.155797
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,8.288136,2.802260,0.129516
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,5.817352,2.547945,0.184458
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,6.281853,2.181467,0.172096

In [385]:
X=data.drop("medianHouseValue",axis=1)
y=data["medianHouseValue"]

In [386]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [387]:
sc_x=StandardScaler()
sc_y=StandardScaler()

In [388]:
X_train=sc_x.fit_transform(X_train)
X_test=sc_x.transform(X_test)

In [389]:
y_train=sc_y.fit_transform(np.array(y_train).reshape(y_train.shape[0],1))
y_test=sc_y.transform(np.array(y_test).reshape(y_test.shape[0],1))

In [390]:
dtr_1=DecisionTreeRegressor(random_state=0)

In [391]:
dtr_1.fit(X_train,y_train)

DecisionTreeRegressor(random_state=0)

In [392]:
pred=dtr_1.predict(X_test)

In [393]:
print(mean_absolute_error(y_test,pred))

0.40886397396623264

### Droping the features and training the model

In [394]:
data=data.drop(['longitude','latitude','housingMedianAge','totalRooms'],axis=1)

In [395]:
data.head()

,totalBedrooms,population,households,medianIncome,medianHouseValue,roomsPerHousehold,populationPerHousehold,bedroomsPerRoom
0,129.0,322.0,126.0,8.3252,452600.0,6.984127,2.555556,0.146591
1,1106.0,2401.0,1138.0,8.3014,358500.0,6.238137,2.109842,0.155797
2,190.0,496.0,177.0,7.2574,352100.0,8.288136,2.802260,0.129516
3,235.0,558.0,219.0,5.6431,341300.0,5.817352,2.547945,0.184458
4,280.0,565.0,259.0,3.8462,342200.0,6.281853,2.181467,0.172096

In [396]:
X=data.drop("medianHouseValue",axis=1)
y=data["medianHouseValue"]

In [397]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [398]:
sc_x=StandardScaler()
sc_y=StandardScaler()

In [399]:
X_train=sc_x.fit_transform(X_train)
X_test=sc_x.transform(X_test)

In [400]:
y_train=sc_y.fit_transform(np.array(y_train).reshape(y_train.shape[0],1))
y_test=sc_y.transform(np.array(y_test).reshape(y_test.shape[0],1))

In [401]:
dtr_2=DecisionTreeRegressor(random_state=0)

In [402]:
dtr_2.fit(X_train,y_train)

DecisionTreeRegressor(random_state=0)

In [403]:
pred=dtr_2.predict(X_test)

In [404]:
print(mean_absolute_error(y_test,pred))

0.6090308995860096

#### As the dtr model gives less mean absolute error we can save the model

In [406]:
import pickle
filename="real_estate_model.sav"
pickle.dump(dtr,open(filename,'wb'))